<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/bootstrapCDN.ejs') %>
        <title>Document</title>
</head>

<body>
    <%- include('partials/navbar.ejs')%>

        <h1 class="text-center">Nos produits</h1>
        <div class="d-flex align-item ms-5">
            <% data.forEach((product)=> { %>
                <div class="card ms-5 mt-5" style="width: 18rem;">
                    
                    <div class="card-body">
                        <h2 class="card-title">
                            <%= product.nom%>
                        </h2>
                        <p class="card-text">
                            <%= product.description%>
                        </p>
                        <div class="d-flex justify-content-between">
                            <a href="/product/<%= product.id %>" class="btn btn-warning card-link">Modifier</a>

                            <form action="/product/delete/<%= product.id %>?_method=DELETE" method="post" class="ms-1 d-flex  ">
                                <input type="hidden" name="_method" value="DELETE">

                                <input onclick="return confirm('Supprimer ?')" class="btn btn-danger" type="submit"
                                    value="Supprimer le produit">
                            </form>

                        </div>
                    </div>
                </div>
                <% } ) %>
        </div>

</body>

</html>